{% extends "allauth/layouts/base.html" %}
{% load account %}
{% load django_bootstrap5 %}

{% block head_title %}
    Redefinir Senha
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Redefinir senha</h1>
            <p>Nós enviamos um e-mail para você. Se você não recebeu ele, por favor olhe a pasta de spam. De outro modo, nos contate se você não recebê-lo dentro de alguns minutos.</p>
        </div>
    </div>

    
{% endblock %}
