{% extends "learning_log/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

    <h3>Tem certeza que deseja apagar esta anotação?</h3>

    <div class="card mb-3">
        <div class="card-body">
            {{ entry.text|linebreaks }}
        </div>
    </div>

    <form action="{% url 'delete_entry' entry.id %}" method="post">
        {% csrf_token %}

        {% bootstrap_button button_type="submit" extra_classes="btn-danger" content="Confirmar exclusão" %}
    </form>

{% endblock content %}